.footer {
    padding-top: 70px;
    padding-bottom: 30px;
}

.footer .logo img {
    width: 50%;
    margin-bottom: 1rem;
}

.footer .logo p {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.footer__link-title {
    color: black;
    margin-bottom: 1rem;
}

.footer__quick-links  a{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}

.copyright {
    color: gray;
    font-size: 1rem;
}

